name: GitHub Actions Demo
on:
  push:
    branches:
      - main
jobs:
  GitHub-Actions-Job1:
    runs-on: ubuntu-latest
    steps:
      - name: scm checkout
        uses: actions/checkout@v3
      - name: setup python environment
        uses: actions/setup-python@v3
        with:
          python-version: '3.7'
          architecture: x64
          cache: pip
      - name: install pip package
        run: pip install -r demo/requirements.txt
      - name: run python demo code
        run: python demo/hello.py
  GitHub-Actions-Job2:
    runs-on: windows-latest
    steps:
       - name: Set up JDK 11 for x64
         uses:  actions/setup-java@v3
         with:
           java-version: '11'
           distribution: 'adopt'
           architecture: x64
           cache: maven
       - name: build with maven
         run: mvn --batch-mode --update-snapshots package
  GitHub-Actions-Job3:
    runs-on: macos-latest
    steps:
      - name: check macos version
        run: |
          sw_vers
